@import "../../../shared/styles/convert-px-to-rem.scss";
@import "../../../shared/styles/flex-mixin.scss";
@import "../../../shared/styles/box-shadow.scss";
@import "../../../shared/styles/transition.scss";
@import "../../../shared/styles/variables.scss";

$radius-default: toRem(10);

.c-dropdown-container {
  position: relative;
  width: 100%;
  height: toRem(400);
  @include box-shadow();
  border-radius: $radius-default;
  height: auto;
  margin-bottom: toRem(36);
  .c-header {
    position: relative;
    width: calc(100% - 32px);
    padding: 0 16px;
    @include insert-flex("space-between");
    height: toRem(55);
    border-bottom: 1px solid #e3e6f0;
    background-color: rgb(249, 249, 249);
    border-radius: $radius-default;
    h1 {
      color: $color-blue-default;
      margin: 0;
      font-weight: 500;
    }
    .close-icon {
      transform: rotateZ(180deg);
    }
    mat-icon {
      cursor: pointer;
      width: toRem(24);
      height: toRem(24);
      font-size: toRem(24);
      color: rgb(160, 160, 160);
      @include transition();
    }
  }
  .c-content {
    position: relative;
    width: 100%;
    height: calc(toRem(400) - toRem(55));
    @include transition();
    overflow-y: auto;
  }
}
