<main class="c-main-body">
  <article>
    <section class="c-title">
      <h1>Faturamento (Automação 1)</h1>
      <button mat-raised-button color="primary">
        <mat-icon class="icon">settings</mat-icon>
        Executar
      </button>
    </section>
    <section class="c-content">
      <app-dropdown-container [title]="'Informações'">
        <div content class="c-information">
          <ul>
            <li *ngFor="let item of listInf">
              <app-information-container
                [information]="item"
              ></app-information-container>
            </li>
          </ul>
        </div>
      </app-dropdown-container>

      <app-dropdown-container [title]="'Dados'">
        <div content class="c-information">
          <div class="demo-button-container">
            <button mat-raised-button (click)="addData()" class="demo-button">
              Add data
            </button>
            <button
              mat-raised-button
              [disabled]="!dataSource.length"
              (click)="removeData()"
              class="demo-button"
            >
              Remove data
            </button>
          </div>

          <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8 demo-table"
          >
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{ element.position }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef>Weight</th>
              <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef>Symbol</th>
              <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </app-dropdown-container>

      <app-dropdown-container [title]="'Formulário'">
        <div content class="c-information">Formulário</div>
      </app-dropdown-container>
    </section>
  </article>
</main>
