<section class="c-options" (click)="open()" (window:resize)="onResize($event)">
  <div class="c-item">
    <span>
      <mat-icon class="icon-sidebar" matTooltip="{{ name }}">{{ icon }}</mat-icon>
      <label *ngIf="!isOpen" class="c-label-auto">{{ name }}</label>
    </span>

    <span class="icon-row" [ngClass]="{ 'move-icon': isBlockOpen() }">
      <mat-icon class="icon-sidebar">chevron_right</mat-icon>
    </span>
  </div>

  <div class="c-list" [ngStyle]="{ height: getHeight() }">
    <label for="">{{ getText() }}</label>
    <span
      *ngFor="let item of list"
      class="c-list-item"
      (click)="redirect(item, $event)"
      [ngClass]="{ 'center-icons': isOpen }"
    >
      <span>
        <mat-icon class="icon">{{ item.icon }}</mat-icon>
        <span *ngIf="!isOpen" class="c-option-name">{{ item.name }}</span>
      </span>
    </span>
  </div>
</section>
