<header class="header-container" [ngClass]="{ 'retract-header': isOpen }">
  <nav>
    <section class="field-search" [formGroup]="_form">
      <mat-form-field appearance="fill" *ngIf="isAdminUser">
        <mat-label>Setor</mat-label>
        <mat-select formControlName="sectorId">
          <mat-option *ngFor="let item of sector" [value]="item.id">
            {{ item.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="field-options">
      <div class="c-avatar" matTooltip="{{ _user?.name }} ( {{ _user?.permission }} )">
        <img src="/assets/icons/LogoZord3.svg" alt="logo zord" width="75px" height="38px" />
        <hr />
        <span class="c-user-name">{{ _user?.name }}</span>
        <mat-icon class="icon-face">face</mat-icon>
      </div>
    </section>
  </nav>
</header>
