<aside class="sidebar-container" [ngClass]="{ 'retract-sidebar': isOpen }">
  <nav>
    <header class="sidebar-header">
      <mat-icon
        (click)="toogleSidebar()"
        class="icon"
        matTooltip="Clique para expandir/retrair"
        [ngClass]="{ 'move-icon': isOpen }"
        >menu</mat-icon
      >
    </header>

    <section class="sidebar-menu">
      <article>
        <ul>
          <li *ngFor="let item of filterSectors">
            <div class="c-sector">
              <app-list-options
                *ngIf="item.options"
                [name]="item.name"
                [icon]="item.icon"
                [list]="item.options"
                [item]="item"
              ></app-list-options>
            </div>
          </li>
        </ul>
      </article>
    </section>
  </nav>
</aside>
