@import "./app/presentation/view/shared/styles/angular-material-configs.scss";
@import "./app/presentation/view/shared/styles/scrollbar.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
