@use "@angular/material" as mat;

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mfe-core-primary: mat.define-palette(mat.$indigo-palette);
$mfe-core-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mfe-core-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as 'color' or 'typography'.
$mfe-core-theme: mat.define-light-theme(
  (
    color: (
      primary: $mfe-core-primary,
      accent: $mfe-core-accent,
      warn: $mfe-core-warn,
    ),
  )
);

@include mat.all-component-themes($mfe-core-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
